<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="signup">
        <h1>Register to send an SMS</h1>
        <form action="/signup">
            <input type="text" name="firstName" placeholder="First Name" id="first-name">
            <input type="text" name="lastName" placeholder="Last-Name" id="last-name">
            <input type="email" name="email" placeholder="example@email.com" id="email">
            <input type="password" name="password" placeholder="password" id="password">
            <input type="password" name="password1" placeholder="password" id="password1">
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>